html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  max-width: 600px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

h2 {
  font-size: 22px;
}

ul {
  list-style: none;
  padding: 0;
}

/* Pad li and anchors only when rendered rtl */
@supports (writing-mode: vertical-rl) {
  li {
    margin: 0 10px;
  }

  li a {
    padding: 0 10px;
  }
}

li a {
  font-size: 18px;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  color: inherit;
}

li a:visited {
  color: inherit;
}

li a:hover,
li a:active {
  color: #22b8cf;
}

.item-text--on-hover {
  display: none;
}

a:hover .item-text {
  display: none;
}

a:hover .item-text--on-hover {
  display: inline;
}

.fas,
.fab {
  display: inline-block;
  height: 18px;
  width: 100%;
}
