@import "./node_modules/normalize.css/normalize";

body {
  color: #333333;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header,
main,
footer {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0 20px;
}

a {
  color: #345995;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0.3em 0;
}

header {
  > h1 {
    font-size: 24px;
    font-weight: 400;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
    list-style: none;
    margin-right: 48px;
  }

  a {
    padding: 10px 0;
  }
}

section > h1 {
  color: #F05A5A;
}

article {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;

  > h1,
  > h2 {
    font-size: 18px;
    margin: 0;
  }
}

.description {
  max-width: 600px;

  p {
    font-size: 18px;
  }
}

.education article h1 {
  font-weight: 400;
}

.emoji {
  display: inline-block;
  padding-right: 4px;
  font-size: 24px;
  vertical-align: middle;
}

.no-emoji .emoji {
  display: none;
}

.back-link {
  padding: 10px 0;
}

@media screen and (max-width: 800px)  {
  header li {
    display: block;
  }
}

@media print {
  html {
    font-size: 90%;
  }

  body {
    line-height: 1.3;
  }

  .description p {
    font-size: 16px;
  }

  section > h1 {
    font-size: 20px;
  }

  h1,
  article {
    margin: 10px 0;
  }

  .back-link {
    display: none;
  }
}
